{% extends "base.html" %}
{% block title %}Enviar Mensaje{% endblock title %}
{% block content %}

<div class="pt-2 d-flex justify-content-between">
    <div class="text-black font-weight-bold shadow p-3 mb-5 bg-white rounded">
        <p>Hola {{user.name}}</p>
        <p>Este es su email: {{user.email}}</p>
    </div>
    <div>
        <a class="btn btn-primary btn-sm" href="/logout" role="button">Desconectar</a>
    </div>
</div>
<form method="post" action="/enviar">
    <div class="form-group">
        <label for="formGroupExampleInput">Nombre del destinatario</label>
        <input type="text" autofocus name="destinatario" class="form-control" id="formGroupExampleInput" placeholder="Nombre">
    </div>

    <div class="form-group">
        <label for="exampleFormControlInput1">Email del destinatario</label>
        <input type="email" autofocus name="email_destino" class="form-control" id="exampleFormControlInput1" placeholder="nombre@correo.com">
    </div>
    <div class="form-group">
        <label for="exampleFormControlTextarea1">Escriba su mensaje</label>
        <textarea class="form-control" autofocus name="mensaje_enviado" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Enviar</button>
</form>
{% endblock content %}